* {
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #e3f9ff;
}

.container {
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
}

.container form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin: 5px;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
    box-shadow: -8px -8px 12px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
}

form .display {
    display: flex;
    justify-content: flex-end;
}

form .display input {
    flex: 1;
    box-shadow: none;
    font-size: 45px;
    box-shadow: none;
    text-align: right;
    color: aliceblue;
}

form section .operator {
    color: #33ffd8;
}

#sec input:nth-of-type(3) {
    width: 145px;
}